<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Meilleurs Users
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Classement</th>
                        <th>id</th>
                        <th>Nom</th>
                        <th>Nombre de followers</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<userList.length; i++){%> 
                        <tr>
                            <td><%=i+1%></td>
                            <td><%= userList[i][0]%> </td>
                            <td><%= userList[i][1]%> </td>
                            <td><%= userList[i][2]%> </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>