<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-chart-pie mr-1"></i>
        Fréquence d'utilisation des Hashtags par Tweet
    </div>
    <div class="card-body">
        <canvas id="myPieChart" width="100%" height="50"></canvas>
        <span id="nameOfDataPieChart" class="d-none"><%=hashtagRepData[0]%></span>
        <span id="dataPieChart" class="d-none"><%=hashtagRepData[1]%></span>
    </div>
</div>