<div class="card mb-4">
    <form action="" method="GET" class="form-inline">
        <div class="card-header w-100 text-center">
            <label for="user">Id de l'utilisateur</label>
            <input type="text" class="form-control" id="user">
            <button class="btn btn-success" type="submit">Chercher</button>
        </div>
    </form>
</div>