<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Global</div>
                <a class="nav-link" href="/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-globe"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Tendances</div>
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false"
                    aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-trophy"></i></div>
                    Top K
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link" href="/topk/users">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Users
                        </a>
                        <a class="nav-link" href="#" data-toggle="collapse" data-target="#pagesCollapseError"
                            aria-expanded="false" aria-controls="pagesCollapseError">
                            <div class="sb-nav-link-icon"><i class="fas fa-hashtag"></i></div>
                            Hashtags
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/topk/hashtag_simple">Simple</a>
                                <a class="nav-link" href="/topk/hashtag_triplet">Triplet</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="/topk/lang">
                            <div class="sb-nav-link-icon"><i class="fas fa-flag"></i></div>
                            Langues
                        </a>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Recherche</div>
                <a class="nav-link" href="/user">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Users
                </a>
                <a class="nav-link" href="/hashtag">
                    <div class="sb-nav-link-icon"><i class="fas fa-hashtag"></i></div>
                    Hashtags
                </a>
                <div class="sb-sidenav-menu-heading">Outils</div>
                <a class="nav-link" href="/convert">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Améliorateur de Tweet
                </a>
                <div class="sb-sidenav-menu-heading">Documentation</div>
                <a class="nav-link" href="/docs/index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                    WebApp
                </a>
            </div>
        </div>
    </nav>
</div>