<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Classement par fréquence d'utilisation
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center align-center dataTable"  width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Classement</th>
                        <th>Hashtag</th>
                        <th>Nombre de fois utilisé</th>
                        <th>Fréquence d'utilisation</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <% for(let i=0; i<object.length; i++){%> 
                    <tr>
                        <td><%=i+1%></td>
                        <td><%= object[i][0]%> </td>
                        <td><%= object[i][1]%> </td>
                        <td>
                            <div class="sparkline-bar-stats1">50,20,30,75,63,35,49,47,65,32,57,65,15,63,29,45</div>
                        </td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>