<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Classement par nombre de Tweets
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Classement</th>
                        <th>Drapeau</th>
                        <th>Langues</th>
                        <th>Nombre de Tweets</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<lang.length; i++){%> 
                        <tr>
                            <td><%=i+1%></td>
                            <td><span class="flag flag-<%=lang[i][1]%>"></span></td>
                            <td><%=lang[i][0]%></td>
                            <td><%=lang[i][2]%></td>
                        </tr>
                    <%}%>
                   
                    
                </tbody>
            </table>
        </div>
    </div>
</div>