<!-- <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Classement par nombre de RT
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable"  width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Classement</th>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Nombre de RT</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<influencers.length; i++){%> 
                        <tr>
                            <td><%=i+1%></td>
                            <td><%= influencers[i][0]%> </td>
                            <td><%= influencers[i][1]%> </td>
                            <td><%= influencers[i][2]%> </td>
                        </tr>
                    <%}%>
                    
               </tbody>
            </table>
        </div>
    </div>
</div> -->