<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Classement par nombre de Tweets
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nom</th>
                        <th>Nombre de Tweets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5436587</td>
                        <td>Bob B</td>
                        <td>54658</td>
                    </tr>
                    <tr>
                        <td>5578687</td>
                        <td>Alice A</td>
                        <td>568</td>
                    </tr>
                    <tr>
                        <td>1966587</td>
                        <td>Corentin C</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>54365870</td>
                        <td>Bob B</td>
                        <td>54658</td>
                    </tr>
                    <tr>
                        <td>55786870</td>
                        <td>Alice A</td>
                        <td>568</td>
                    </tr>
                    <tr>
                        <td>19665870</td>
                        <td>Corentin C</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>543658700</td>
                        <td>Bob B</td>
                        <td>54658</td>
                    </tr>
                    <tr>
                        <td>557868700</td>
                        <td>Alice A</td>
                        <td>568</td>
                    </tr>
                    <tr>
                        <td>196658700</td>
                        <td>Corentin C</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>543658700</td>
                        <td>Bob B</td>
                        <td>54658</td>
                    </tr>
                    <tr>
                        <td>5578687000</td>
                        <td>Alice A</td>
                        <td>568</td>
                    </tr>
                    <tr>
                        <td>19665870000</td>
                        <td>Corentin C</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>